@mixin button
		border: 0
		border-radius: 50px
		background-color: $main-color
		box-shadow: 0 7px 30px rgba(249,87,46,.6)
		color: #fff
		font-family: "Muller-Medium"
		font-size: 16px
		font-weight: 200
		line-height: 18px
		&:hover
			background-color: #FF7B59
