@font-face
	font-family: 'Muller-Medium'
	src: url('../fonts/muller-medium.eot')
	src: url('../fonts/muller-medium.eot?#iefix') format('embedded-opentype') 
	src: url('../fonts/muller-medium.woff2') format('woff2')
	src: url('../fonts/muller-medium.woff') format('woff')
	src: url('../fonts/muller-medium.ttf') format('truetype')
	src: url('../fonts/muller-medium.svg#muller-medium') format('svg')

$main-color: #F9572E

body
	background-color: #fff
	margin: 0
	height: 100vh
.promo
	padding: 20px
	.descr
		width: 50vw
		vertical-align: top
		padding: 28px 0 0 90px
		.item
			margin-top: 205px
			.title
				font-family: 'Muller-Medium'
				font-size: 64px
				font-weight: 400
				line-height: 64px
			.subtitle
				margin-top: 30px
				font-family: 'Muller-Medium'
				font-size: 21px
				font-weight: 200
				line-height: 30px
			.btn-item
				margin-top: 45px
				display: flex
				.btn
					border: 0
					width: 260px
					height: 51px
					border-radius: 50px
					background-color: $main-color
					color: #fff
					font-family: 'Muller-Medium'
					font-size: 16px
					font-weight: 200
					line-height: 16px
				.text
					display: flex
					align-items: center
					margin-left: 30px
					font-family: 'Muller-Medium'
					font-size: 16px
					font-weight: 200
					line-height: 16px
					color: #666666
			.scroll-item
				position: absolute
				display: flex
				bottom: 0
				.img
					width: 41px
					height: 30px
				.text
					margin-left: 12px
					font-family: 'Muller-Medium'
					font-size: 16px
					font-weight: 200
					line-height: 16px
					color: $main-color

	.video
		width: 50vw
		background: url(../img/promo/video.png) center no-repeat